//_pages/home.scss

@use 'sass:color';
@use 'sass:math';
@use 'sass:map';
@use '../abstracts/variables.scss' as vars;
@use '../abstracts/mixins' as *;
@use '../layout/hero' as *;

html {
  scroll-padding-top: 70px;
}

// Main Container for the Home Page
.home-page {
  background-color: map.get(vars.$colors, 'background');
  color: map.get(vars.$color-variations, 'text-dark');
  padding: map.get(vars.$spacing, 'xlarge') map.get(vars.$spacing, 'medium');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: linear-gradient(135deg, map.get(vars.$colors, 'primary'), map.get(vars.$colors, 'accent'));
  background-size: cover;
  background-position: center;
  animation: fadeIn 2s ease-out;

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media (max-width: map.get(vars.$breakpoints, 'medium')) {
    padding: map.get(vars.$spacing, 'large');
  }
}

// About Section
.about {
  padding: map.get(vars.$spacing, 'small') 0;
  text-align: center;
  background-color: map.get(vars.$color-variations, 'background-light');

  h2 {
    font-size: map.get(vars.$font-sizes, 'xl');
    color: map.get(vars.$color-variations, 'text-dark');
    margin-bottom: map.get(vars.$spacing, 'medium');
  }

  p {
      font-size: 1.125rem;
    color: map.get(vars.$colors, 'text');
    max-width: 800px;
    margin: 0 auto;

    @media (max-width: map.get(vars.$breakpoints, 'medium')) {
     font-size: 1rem;
    }
  }
}

// Testimonial Section
.testimonials {
    background-color: map.get(vars.$color-variations, 'background-light');
    padding: map.get(vars.$spacing, 'xlarge');
    margin-top: map.get(vars.$spacing, 'xlarge');
    text-align: center;
    border-radius: map.get(vars.$border-radius, 'medium');
    box-shadow: map.get(vars.$box-shadows, 'medium');

  h2 {
    font-size: map.get(vars.$font-sizes, 'xl');
       color: map.get(vars.$color-variations, 'text-dark');
    margin-bottom: map.get(vars.$spacing, 'medium');
  }

  .testimonial-box {
    max-width: 800px;
    margin: 0 auto;
    background-color: map.get(vars.$colors, 'background');
    padding: map.get(vars.$spacing, 'medium');
    border-radius: map.get(vars.$border-radius, 'small');
    box-shadow: map.get(vars.$box-shadows, 'small');

    p {
      font-size: map.get(vars.$font-sizes, 'lg');
      color: map.get(vars.$colors, 'text');
      margin-bottom: map.get(vars.$spacing, 'small');
      font-style: italic;
    }

    .author {
      font-size: map.get(vars.$font-sizes, 'base');
        color: map.get(vars.$color-variations, 'text-dark');
      font-weight: map.get(vars.$font-weights, 'bold');
    }
  }

   .button.primary {
    margin-top: map.get(vars.$spacing, 'large');
  }
}


// Services Section

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;
}

// Contact Section
.contact {
  background-color: map.get(vars.$color-variations, 'background-light');
  padding: map.get(vars.$spacing, 'xlarge');
  text-align: center;

  h2 {
      font-size: map.get(vars.$font-sizes, 'xl');
       color: map.get(vars.$color-variations, 'text-dark');
    margin-bottom: map.get(vars.$spacing, 'medium');
  }

  p {
      font-size: 1.125rem;
      color: map.get(vars.$color-variations, 'text-light');
    margin-bottom: map.get(vars.$spacing, 'medium');
    max-width: 800px;
    margin: 0 auto;
  }
}

// Call to Action
.cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: map.get(vars.$spacing, 'large'); // Optional: adjust spacing if necessary
}
// Responsive Design for Mobile
@media (max-width: map.get(vars.$breakpoints, 'medium')) {
    .hero {
        padding: map.get(vars.$spacing, 'large');
    }

  .features-section {
    grid-template-columns: 1fr;
  }
}