<header>
  <!-- Top Navigation Bar -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
  />
  <nav class="top-nav">
    <div class="left-side">
      <a href="{{ '/' | relative_url }}" class="logo">
        <img src="{{ '/assets/img/favicon.ico' | relative_url }}" alt="LumoLetters Icon" class="top-nav-icon">
        LumoLetters
      </a>
    </div>
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>
    <div class="right-side nav-right-side">
      {% for item in site.data.navigation.main_nav %}
        <a href="{{ item.url | relative_url }}" class="top-nav-link">{{ item.title }}</a>
      {% endfor %}
      
      <!-- Dashboard Icon -->
      <a id="dashboardIcon" href="/user/dashboard" class="dashboard-icon hidden">
        <i class="fa-regular fa-user"></i>
      </a>

      <!-- Login/Logout Buttons -->
      <button id="loginButton" class="netlify-identity-button">Log In</button>
      <button id="logoutButton" class="netlify-identity-button hidden">Log Out</button>
      <span id="userDisplayName" class="hidden"></span>
    </div>
  </nav>
</header>
