<!-- _layout/navigation.html -->
<aside class="sidebar">
    <nav>
        <ul>
            <li><a href="/user/dashboard">Dashboard</a></li>
            <li><a href="/user/account-settings">Account Settings</a></li>
            <li><a href="/user/letter-history">Letter History</a></li>
            <li><a href="/user/interests">Interests</a></li>
            <li><a href="/user/topics">Topics</a></li>
            <li><a href="/user/plan">Plan & Payment</a></li>
            <li><a href="#" id="sidebarLogoutButton" class="logoutButton">Log Out</a></li>
        </ul>
    </nav>
</aside>