// sass/layout/_dashboard.scss

@use 'sass:map';
@use 'sass:math';
@use '../abstracts/variables.scss' as vars;
@use '../abstracts/mixins' as *;

// Sidebar width
$sidebar-width: map.get(vars.$sizes, 'sidebar-width');
$sidebar-collapsed-width: map.get(vars.$sizes, 'sidebar-collapsed-width');
$header-height: map.get(vars.$sizes, 'header-height'); // Header height from variables
$transition-duration: 0.3s;

// Dashboard Layout
.dashboard-container {
  margin-top: map.get(vars.$sizes, 'header-height'); 
  @include flex-center(row, flex-start, stretch); // Flexbox layout for sidebar and content

  &__sidebar {
    width: $sidebar-width;
    min-width: $sidebar-width;
    height: 100vh; // Full viewport height
    position: fixed;
    top: 0;
    left: 0;
    padding: map.get(vars.$spacing, 'medium');
    background-color: map.get(vars.$colors, 'background-light');
    transition: width $transition-duration ease;

    &--collapsed {
      width: $sidebar-collapsed-width;
      min-width: $sidebar-collapsed-width;
    }

    .sidebar-item {
      display: block;
      margin: map.get(vars.$spacing, 'small') 0;
      color: map.get(vars.$colors, 'text-light');
      font-weight: map.get(vars.$font-weights, 'medium');
      text-decoration: none;
      padding: map.get(vars.$spacing, 'small');
      @include border-radius(map.get(vars.$border-radius, 'small'));

      &:hover {
        @include color-adjust('background', map.get(vars.$colors, 'background-light'), -10%);
      }
    }
  }

  &__content {
    margin-left: $sidebar-width;
    margin-top: $header-height; // Adjusts for the header
    width: calc(100% - #{$sidebar-width});
    padding: map.get(vars.$spacing, 'large');
    transition: margin-left $transition-duration ease, margin-top $transition-duration ease, width $transition-duration ease;

    &--expanded {
      margin-left: $sidebar-collapsed-width;
      width: calc(100% - #{$sidebar-collapsed-width});
    }

    .content-header {
      @include typography(map.get(vars.$font-sizes, 'large'), map.get(vars.$font-weights, 'bold'));
      margin-bottom: map.get(vars.$spacing, 'large');
    }

    .content-body {
      background-color: map.get(vars.$colors, 'background-light');
      @include border-radius(map.get(vars.$border-radius, 'medium'));
      padding: map.get(vars.$spacing, 'large');
      @include box-shadow('medium');
    }
  }
}

// Responsive Layout
@include respond('small') {
  .dashboard {
    flex-direction: column;

    &__sidebar {
      position: relative;
      width: 100%;
      height: auto;
    }

    &__content {
      margin-left: 0;
      margin-top: 0; // No header adjustment needed on smaller screens
      width: 100%;
    }
  }
}
