//_layout/_header.scss
@use 'sass:color';
@use 'sass:map';
@use '../abstracts/variables.scss' as vars;
@use '../abstracts/mixins' as *;
@use 'navigation' as *;

// Top Navigation Bar
nav.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: map.get(vars.$colors, 'accent');
  padding: map.get(vars.$spacing, 'xsmall') map.get(vars.$spacing, 'small');
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: map.get(vars.$z-index, 'navbar');
  height: 50px;

  .left-side {
    display: flex;
    align-items: center;

    .top-nav-icon {
      width: 24px;
      height: 24px;
      margin-right: map.get(vars.$spacing, 'small');
    }

    .logo {
      font-size: 2rem;
      font-weight: map.get(vars.$font-weights, 'bold');
      display: flex;
      align-items: center;
    }
  }

  .right-side {
    display: flex;
    gap: map.get(vars.$spacing, 'medium');
    align-items: center;

    .top-nav-link {
      text-decoration: none;
      color: map.get(vars.$color-variations, 'primary');
      font-size: map.get(vars.$font-sizes, 'base');
      font-weight: map.get(vars.$font-weights, 'normal');
      padding: map.get(vars.$spacing, 'small') map.get(vars.$spacing, 'medium');
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0%;
        width: 0;
        height: 1px;
        background-color: map.get(vars.$colors, 'secondary');
        transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
      }

      &:hover {
        color: map.get(vars.$colors, 'secondary');

        &::after {
          width: 100%;
          left: 0;
          transform: translateX(0);
        }
      }
    }
  }
}

.main-content {
  margin-top: 70px;
  padding: map.get(vars.$spacing, 'medium');
}