//_layout/_header.scss
@use 'sass:color';
@use 'sass:map';
@use '../abstracts/variables.scss' as vars;
@use '../abstracts/mixins.scss' as *;

// Top Navigation Bar
nav.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: map.get(vars.$colors, 'background-light');
    padding: map.get(vars.$spacing, 'medium') map.get(vars.$spacing, 'large');
    width: 100%;
    position: fixed;
    top: 0;
    z-index: map.get(vars.$z-index, 'navbar');
    height: auto;
    min-height: 50px;

    .left-side {
        display: flex;
        align-items: center;

        .top-nav-icon {
            width: 24px;
            height: 24px;
            margin-right: map.get(vars.$spacing, 'small');
        }

        .logo {
            font-size: map.get(vars.$font-sizes, 'xl');
            font-weight: map.get(vars.$font-weights, 'bold');
            display: flex;
            align-items: center;
            gap: 0.5rem;

            img {
                width: 2.5rem;
                height: 2.5rem;
            }
        }
    }

    // Hamburger Icon Styles
    .nav-toggle-label {
        position: absolute;
        top: 16px;
        right: 1rem;
        width: 30px;
        height: 30px;
        cursor: pointer;
        display: none; // Hide the icon by default
        z-index: map.get(vars.$z-index, 'navbar');

        span {
            position: relative;
            display: block;
            width: 30px;
            height: 4px;
            background-color: map.get(vars.$colors, 'text');

            &::before,
            &::after {
                content: '';
                position: absolute;
                width: 30px;
                height: 4px;
                background-color: map.get(vars.$colors, 'text');
                transform-origin: 50% 50%;
                transition: all 0.3s ease-in-out;
                left: 0;
            }

            &::before {
                transform: translateY(-8px);
            }

            &::after {
                transform: translateY(8px);
            }
        }
    }

    #nav-toggle {
        display: none;
    }

    .nav-right-side {
        display: flex;
        gap: map.get(vars.$spacing, 'medium');
        align-items: center;
        transition: all 0.3s ease-in-out;
        white-space: nowrap;

        .top-nav-link {
            text-decoration: none;
            color: map.get(vars.$color-variations, 'primary');
            font-size: map.get(vars.$font-sizes, 'base');
            font-weight: map.get(vars.$font-weights, 'normal');
            padding: map.get(vars.$spacing, 'small') map.get(vars.$spacing, 'medium');
            position: relative;
            margin-bottom: 2px;
            white-space: nowrap;
            flex-shrink: 0;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0%;
                width: 0;
                height: 1px;
                background-color: map.get(vars.$colors, 'secondary');
                transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
            }

            &:hover {
                color: map.get(vars.$colors, 'secondary');

                &::after {
                    width: 100%;
                    left: 0;
                    transform: translateX(0);
                }
            }
        }

        .netlify-identity-button {
            @include button();
        }
    }

    @media screen and (max-width: 768px) {
        .nav-toggle-label {
            display: block;
            right: 1rem;
            top: 16px;
        }

        .nav-right-side {
            display: none;
            flex-direction: column;
            text-align: left;
            width: 100%;
            position: absolute;
            top: 50px;
            right: 0;
            background-color: map.get(vars.$colors, 'background-light');
            padding: map.get(vars.$spacing, 'small');
        }

        #nav-toggle:checked ~ .nav-right-side {
            display: flex;
        }

        .nav-right-side > .top-nav-link {
            width: 100%;
            border-bottom: 1px solid map.get(vars.$color-variations, 'primary');
        }
    }

    .hidden {
        display: none;
    }
}
