//_base_global.scss
@use '../abstracts/variables' as *;
@use '../abstracts/mixins.scss' as *;
@use '../abstracts/functions.scss' as *;
@use 'sass:color';
@use 'sass:math';
@use 'sass:map';

// Body styles
body {
  @include box-sizing(border-box);
}

// Typography
h1, h2, h3, h4, h5, h6 {
  color: map.get($colors, 'primary');
}

p {
  margin-bottom: map.get($spacing, 'base');
}

// Links
a {
  &:hover {
    @include color-adjust('color', map.get($colors, 'primary'), 10%);
  }
}

// Utility Classes
.full-width {
  width: 100%;
  margin: 0 auto;
}

.max-width-container {
  max-width: 1200px;
  margin: 0 auto;
}

// Media Queries
@include respond('small') {
  body {
    font-size: math.div(map.get($font-sizes, 'base'), 1.2);
  }
}

.main-content {
  margin-top: 50px;
}