//_base_reset.scss
@use 'sass:map';
@use 'sass:color';
@use '../abstracts/variables.scss' as vars;
@use '../abstracts/mixins.scss' as mixins;

/* Normalize CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: map.get(vars.$font-family, 'base');
  line-height: map.get(vars.$line-heights, 'normal');
  color: map.get(vars.$colors, 'text');
  background-color: map.get(vars.$colors, 'background');
  min-height: 100vh;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: map.get(vars.$font-weights, 'bold');
  color: map.get(vars.$color-variations, 'text-dark');
  line-height: map.get(vars.$line-heights, 'heading');
}


/* Links */
a {
  color: map.get(vars.$colors, 'primary');
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  &:hover {
    @include mixins.color-adjust('color', map.get(vars.$colors, 'primary'), 10%);
    text-decoration: underline;
  }
}

/* Lists */
ul, ol {
  list-style: none;
}

/* Tables */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: map.get(vars.$spacing, 'medium');
}

th, td {
  padding: map.get(vars.$spacing, 'small');
  border: 1px solid map.get(vars.$color-variations, 'border');
}

th {
  text-align: left;
  background-color: map.get(vars.$color-variations, 'background-dark');
}

/* Clearfix for floated elements */
.clearfix {
  @include mixins.clearfix;
}