//_base_typography.scss
@use 'sass:map';
@use '../abstracts/variables.scss' as vars;

body {
    font-size: map.get(vars.$font-sizes, 'base');
}

// Headings (H1-H6)
h1 {
    font-size: map.get(vars.$heading-sizes, 'h1');
}

h2 {
    font-size: map.get(vars.$heading-sizes, 'h2');
}

h3 {
    font-size: map.get(vars.$heading-sizes, 'h3');
}

h4 {
    font-size: map.get(vars.$heading-sizes, 'h4');
}

h5 {
    font-size: map.get(vars.$heading-sizes, 'h5');
}

h6 {
    font-size: map.get(vars.$heading-sizes, 'h6');
}

// Paragraphs
p {
  margin-bottom: map.get(vars.$spacing, 'medium');
}

// Lists
ul, ol {
  margin-bottom: map.get(vars.$spacing, 'medium');
  padding-left: map.get(vars.$spacing, 'large');
}

li {
  margin-bottom: map.get(vars.$spacing, 'small');
}

// Blockquotes
blockquote {
  font-style: italic;
  padding-left: map.get(vars.$spacing, 'medium');
  border-left: 4px solid map.get(vars.$colors, 'primary');
  margin: map.get(vars.$spacing, 'medium') 0;
  color: map.get(vars.$color-variations, 'text-dark');
}